
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  z-index: 90;
  position: fixed;
  top: 0;
  width: 100%;
  height: 140px;
  background-color: #1D1F22;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#hUl {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#huLiLogo {
  display: flex;
  width: 300px;
  height: 100%;
}

#hullLogo {
  margin: auto;
  width: auto;
  height: 80px;
}

#huLiTabs {
  display: flex;
  width: calc(100% - 300px - 80px);
  height: 100%;
}

#hultUl {
  margin: auto auto auto 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#hultUl li {
  display: flex;
  margin: auto 25px;
}

#hultUl li a, #hultUl li p {
  font: 14px 'brownRegular';
  letter-spacing: 1px;
  color: rgb(210, 210, 211);
  text-transform: uppercase;
  transition: 0.15s;
  cursor: pointer;
}

#hultUl li a:hover, #hultUl li p:hover {
  color: white;
}

#huLiChangelang {
  z-index: 99;
  display: flex;
  width: 80px;
  height: 100%;
}

#hulcButton {
  display: flex;
  z-index: 99;
  margin: auto;
  width: 40%;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#hulcButton ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#hulcButton ul li {
  display: flex;
  flex-direction: row;
}

#hulcButton ul li:first-child {
  margin: auto;
  z-index: 99;
  font: 12px 'brownRegular';
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}

#hulcButton ul li:last-child {
  margin: auto;
  z-index: 99;
  top: 68px;
  right: 30px;
  font: 12px 'machina';
  line-height: 2.6;
  color: white;
  text-transform: uppercase;
}

#hLanguages {
  z-index: 89;
  position: fixed;
  display: flex;
  top: 145px;
  right: 5px;
  width: 150px;
  height: 0;
  background-color: #1D1F22;
  border-radius: 15px;
  opacity: 0.9;
  transition: 0.4s;
}

#hLanguages ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.4s;
}

#hLanguages ul li {
  display: flex;
  margin: 10px auto;
}

#hLanguages ul li:first-child {
  margin: 20px auto 10px auto;
}

#hLanguages ul li:last-child {
  margin: 10px auto 20px auto;
}

#hLanguages ul li a {
  font: 11px 'brownRegular';
  letter-spacing: 1px;
  color: rgb(210, 210, 211);
  text-transform: uppercase;
  transition: 0.15s;
}

#hLanguages li a:hover {
  color: white;
}

#hExp {
  z-index: 89;
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100vh - 140px);
  top: 140px;
  background-color: #101112;
  opacity: 0;
  transition: 0.3s;
}

#heUl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.heuLi, .heuluLi, .heululdUl, .heululdUl li, .heulUl {
  display: flex;
  flex-direction: row;
}

.heuluLi {
  margin: 20px auto;
}

.heululDiv {
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 125px;
  background-color: magenta;
  border: 1px solid #D3A81D;
}

.heululdUl {
  width: 100%;
  height: 100%;
}

.heululdUl li img {
  width: 80px;
  height: 80px;
}

.heululdUl li p {
  margin: auto;
  font: 11px 'brownRegular';
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}



/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */
/* PARAMETERS */

html, body {
  background-color: #F4F5FA;
  height: 7000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;
  list-style: none;
}

::selection {
  background-color: transparent;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "marianneThin";
  src: url("../fonts/Marianne/Marianne-Thin.woff") format("woff"),
       url("../fonts/Marianne/Marianne-Thin.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-Thin.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "marianneLight";
  src: url("../fonts/Marianne/Marianne-Light.woff") format("woff"),
       url("../fonts/Marianne/Marianne-Light.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-Light.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "marianneRegular";
  src: url("../fonts/Marianne/Marianne-Regular.woff") format("woff"),
       url("../fonts/Marianne/Marianne-Regular.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-Regular.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "marianneMedium";
  src: url("../fonts/Marianne/Marianne-Medium.woff") format("woff"),
       url("../fonts/Marianne/Marianne-Medium.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-Medium.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "marianneBold";
  src: url("../fonts/Marianne/Marianne-Bold.woff") format("woff"),
       url("../fonts/Marianne/Marianne-Bold.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-Bold.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "marianneExtraBold";
  src: url("../fonts/Marianne/Marianne-ExtraBold.woff") format("woff"),
       url("../fonts/Marianne/Marianne-ExtraBold.woff2") format("woff2"),
       url("../fonts/Marianne/Marianne-ExtraBold.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "machina";
  src: url("../fonts/machina.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "gilroyLight";
  src: url("../fonts/gilroy/gilroyLight.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "gilroyMedium";
  src: url("../fonts/gilroy/gilroyMedium.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "gilroyRegular";
  src: url("../fonts/gilroy/gilroyRegular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "gilroySemibold";
  src: url("../fonts/gilroy/gilroySemibold.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "brownLight";
  src: url("../fonts/brownLight.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "brownRegular";
  src: url("../fonts/brownRegular.woff2") format("woff2");
  font-weight: normal;
}


/*rgb(255, 192, 23)*/
